---
import '@fontsource-variable/dm-sans'
import { client, query } from '../lib/sanity'
import Nav from '../components/nav.astro'
import About from '../components/about.astro'
import Footer from '../components/footer.astro'
import Companies from '../components/companies.astro'
import Investments from '../components/investments.astro'
import Impact from '../components/impact.astro'

const homeData = await client.fetch(query)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Labora oversees the Mackie Family's business interests, deploying capital into businesses that create long-term value through empowerment, autonomy, and stability."
    />
    <title>Labora</title>
  </head>
  <body class="bg-grey-dark text-white">
    <Nav />
    <main>
      <About hero={homeData.hero} />
      <Companies companies={homeData.companies} />
      <Investments vision={homeData.vision} />
      <Impact impact={homeData.impact} />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 6.125rem; /* Adjust this value to match your nav height */
  }

  header > nav {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    header > nav {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
</style>
