---
import { Image } from 'astro:assets'
import { PortableText } from 'astro-portabletext'
import { components } from './portableText/Components.astro'
import type { PortableTextBlock } from '@portabletext/types'
import CESCares from '../assets/CES-Cares-logo.png'
import CEFCares from '../assets/CEF-Cares-logo.png'

interface Props {
  impact: {
    heading: string
    subHeading: PortableTextBlock[]
    copy: PortableTextBlock[]
  }
}

const { impact } = Astro.props
---

<section
  id="impact"
  class="mx-auto w-full max-w-[1440px] px-10 py-20 md:px-25 md:py-25"
>
  <div class="grid grid-rows-2 gap-[30px] lg:grid-cols-2 lg:grid-rows-1">
    <div
      class="flex flex-col gap-5 rounded-3xl bg-white px-[30px] py-[25px] md:p-12.5"
    >
      <h2
        class="mb-10 text-right text-4xl uppercase tracking-wide text-tan lg:text-6xl"
      >
        {impact.heading}
      </h2>
      <div class="space-y-5 text-xl text-black lg:text-3xl">
        <PortableText value={impact.subHeading} components={components} />
        <div class="flex gap-11 pt-5 md:gap-16 md:pt-12">
          <a
            href="https://www.cef.co.uk/cef-cares"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={CEFCares}
              alt="CEF Cares logo"
              width={98}
              height={80}
              format="webp"
              loading="lazy"
              quality={75}
              class="hidden md:block"
            />
            <Image
              src={CEFCares}
              alt="CEF Cares logo"
              width={66}
              height={54}
              format="webp"
              loading="lazy"
              quality={75}
              class="md:hidden"
            />
          </a>
          <a
            href="https://www.cityelectricsupply.com/CESCares?srsltid=AfmBOoobmzBwZZ3iiOEPGtuF9iu_skGiBEe4zQ8868Zx2FogpAxLkLhT"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={CESCares}
              alt="CES Cares logo"
              width={107}
              height={80}
              format="webp"
              loading="lazy"
              quality={75}
              class="hidden md:block"
            />
            <Image
              src={CESCares}
              alt="CES Cares logo"
              width={73}
              height={54}
              format="webp"
              loading="lazy"
              quality={75}
              class="md:hidden"
            />
          </a>
        </div>
      </div>
    </div>
    <div
      class="text-normal rounded-3xl bg-tan-light px-[30px] py-[25px] leading-normal text-black md:p-12.5 lg:text-2xl"
    >
      <PortableText value={impact.copy} components={components} />
    </div>
  </div>
</section>
