---
import { Image } from 'astro:assets'
import clouds from '../assets/clouds.png'
import cityscapeDesktop from '../assets/cityscape-full-desktop.png'
import cityscapeMobile from '../assets/cityscape-full-mobile.png'
import HorizontalAnimation from './HorizontalAnimation'
---

<section id='about' class='gap-25 mb-25 grid'>
  <div
    class='mx-auto flex w-full max-w-[1440px] flex-col gap-3 px-5 md:px-12.5 xl:flex-row xl:gap-8'
  >
    <div class='max-w-[850px]'>
      <h1
        class='text-[32px] font-bold uppercase leading-none tracking-wide sm:text-4xl md:text-7xl'
      >
        Long Term Success Through Empowerment
      </h1>
    </div>
    <div class='max-w-[550px] lg:self-end'>
      <p class='text-sm !leading-normal md:text-lg lg:text-2xl'>
        By finding partners aligned with our values and empowering them with
        autonomy, stability, and long-term capital, we believe we can achieve
        lasting success—and have fun along the way.
      </p>
    </div>
  </div>
  <div>
    <div class='relative h-[250px] overflow-hidden md:h-[552px]'>
      <div class='absolute top-0 hidden h-[150px] md:block md:h-[232px]'>
        <HorizontalAnimation to={0} from={-50} client:load>
          <Image
            src={clouds}
            alt='Clouds'
            width={2048}
            format='webp'
            loading='eager'
          />
          <Image
            src={clouds}
            alt='Clouds'
            width={2048}
            format='webp'
            loading='eager'
          />
          <Image
            src={clouds}
            alt='Clouds'
            width={2048}
            class='hidden xl:block'
            loading='eager'
          />
        </HorizontalAnimation>
      </div>
      <div class='absolute bottom-0 hidden h-[525px] md:block'>
        <HorizontalAnimation to={-50} from={0} client:load>
          <Image
            src={cityscapeDesktop}
            alt='Cityscape'
            width={2271}
            format='webp'
            loading='eager'
          />
          <Image
            src={cityscapeDesktop}
            alt='Cityscape'
            width={2271}
            format='webp'
            loading='eager'
          />
          <Image
            src={cityscapeDesktop}
            alt='Cityscape'
            width={2271}
            class='hidden xl:block'
            format='webp'
            loading='eager'
          />
        </HorizontalAnimation>
      </div>
      <div class='absolute top-0 block h-[150px] md:hidden md:h-[232px]'>
        <HorizontalAnimation to={0} from={-50} client:load>
          <Image
            src={clouds}
            alt='Clouds'
            width={1269.5}
            format='webp'
            loading='eager'
          />
          <Image
            src={clouds}
            alt='Clouds'
            width={1269.5}
            format='webp'
            loading='eager'
          />
        </HorizontalAnimation>
      </div>
      <div class='absolute bottom-0 block h-[250px] md:hidden'>
        <HorizontalAnimation to={-50} from={0} client:load>
          <Image
            src={cityscapeMobile}
            alt='Cityscape'
            width={1269.5}
            format='webp'
            loading='eager'
          />
          <Image
            src={cityscapeMobile}
            alt='Cityscape'
            width={1269.5}
            format='webp'
            loading='eager'
          />
        </HorizontalAnimation>
      </div>
    </div>
  </div>
  <div
    class='max-w-[900px] space-y-10 justify-self-center px-10 pb-10 pt-20 text-center text-xl font-normal leading-normal text-tan md:text-3xl'
  >
    <p>
      Labora oversees the business and philanthropic interests of the Mackie
      Family. We are focused on deploying capital into businesses and assets
      that create long-term value for all stakeholders. We take a concentrated
      approach to deploying capital and our ideal holding time is forever.
    </p>
    <p>
      Our portfolio of companies is unified under a shared vision: to make a
      lasting impact on our customers, clients, and communities.
    </p>
  </div>
</section>
