---
import { Image } from 'astro:assets'
import clouds from '../assets/clouds.png'
import cityscapeDesktop from '../assets/cityscape-full-desktop.png'
import cityscapeMobile from '../assets/cityscape-full-mobile.png'
import HorizontalAnimation from './HorizontalAnimation'
---

<section id='about' class='mb-[100px] grid gap-20'>
  <div class='flex flex-col gap-3 xl:flex-row xl:gap-0'>
    <div class='max-w-[850px]'>
      <h1
        class='text-5xl font-bold uppercase leading-tight tracking-wide md:text-7xl lg:text-9xl'
      >
        Empowering People
      </h1>
    </div>
    <div class='max-w-[550px] pb-[22px] lg:self-end xl:-ml-20'>
      <p class='text-sm !leading-normal md:text-lg lg:text-2xl'>
        From partnering with entrepreneurs to developing lasting assets, our
        mission is to empower others to achieve long-term success.
      </p>
    </div>
  </div>
  <div class='-mx-5 lg:-mx-12'>
    <div class='relative h-[250px] w-full overflow-hidden md:h-[462px]'>
      <div class='absolute top-0 h-[150px] md:h-[232px]'>
        <HorizontalAnimation to={0} from={-50} client:load>
          <Image src={clouds} alt='Clouds' width={2048} />
          <Image src={clouds} alt='Clouds' width={2048} />
        </HorizontalAnimation>
      </div>
      <div class='absolute bottom-0 hidden h-[434px] md:block'>
        <HorizontalAnimation to={-50} from={0} client:load>
          <Image src={cityscapeDesktop} alt='Cityscape' width={2271} />
          <Image src={cityscapeDesktop} alt='Cityscape' width={2271} />
        </HorizontalAnimation>
      </div>
      <div class='absolute bottom-0 block h-[250px] md:hidden'>
        <HorizontalAnimation to={-50} from={0} client:load>
          <Image src={cityscapeMobile} alt='Cityscape' width={1269.5} />
          <Image src={cityscapeMobile} alt='Cityscape' width={1269.5} />
        </HorizontalAnimation>
      </div>
    </div>
  </div>
  <div
    class='max-w-[900px] space-y-10 justify-self-center text-center text-xl font-normal leading-normal text-tan md:text-3xl'
  >
    <p>
      Labora oversees the diverse business and philanthropic interests of the
      Mackie Family. We are focused on growth-oriented, entrepreneurial
      opportunities that create long-term value for all stakeholders.
    </p>
    <p>
      Our portfolio of companies is unified under a shared vision: to make a
      lasting impact on our customers, clients, and communities.
    </p>
  </div>
</section>
